.mainpost {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    border-bottom: 1px solid;
    border-color: #dee2e7;
    padding-top: 10px;

}


.myphoto {
    grid-column: 1;
    grid-row: 1/3;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.buttons {
    grid-column: 2/3;
    justify-self: left;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: #000;
}

.message {
    grid-column: 2/4;
    grid-row: 2;
    justify-self: left;
    text-align: left;
}

.myname {
    grid-column: 2;
    grid-row: 1;
    color: #000;
    margin-right: auto;
}

.like {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 60px;
    background: url("./../../../../img/LikeIcon.png") no-repeat left;
}

.comments {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 100px;
    background: url("./../../../../img/CommentIcon.png") no-repeat left;
}

.share {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 70px;
    background: url("./../../../../img/ShareIcon.png") no-repeat left;
}

.date {
    background: url("./../../../../img/ClockIcon.png") no-repeat right;
    grid-column: 3;
    text-align: right;
    padding-top: 2.5px;
    font-size: 12px;
    font-weight: 600;
    padding-right: 15px;
}


