.mainPost {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    border-bottom: 1px solid;
    border-color: #dee2e7;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.myPhoto {
    grid-column: 1;
    grid-row: 1/3;
    width: 50px;
    height: 50px;
    margin-right: 25px;
    border-radius: 25px;
}

.buttons {
    grid-column: 2/3;
    justify-self: left;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: #000;
}

.message {
    grid-column: 2/4;
    grid-row: 2;
    justify-self: left;
    text-align: left;
    color: #6b7178;
}

.myName {
    grid-column: 2;
    grid-row: 1;
    color: #000;
    margin-right: auto;
    padding-bottom: 10px;
}

.like {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 60px;
    cursor: pointer;
    background: url("./../../../../img/LikeIcon.png") no-repeat left;
}

.comments {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 100px;
    cursor: pointer;
    background: url("./../../../../img/CommentIcon.png") no-repeat left;
}

.share {
    margin-right: 10px;
    margin-left: 5px;
    border: 0;
    width: 70px;
    cursor: pointer;
    background: url("./../../../../img/ShareIcon.png") no-repeat left;
}

.date {
    background: url("./../../../../img/ClockIcon.png") no-repeat right;
    grid-column: 2/4;
    grid-row: 1;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    padding-right: 15px;
    align-self: center;
    color: #77bfe5;

}


