.container__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 5px;
    height: auto;
    justify-self: left;
}
.profilegrid {
    margin-bottom: 10px;
    grid-column: 2;
    background: #fff;
    padding-bottom: 10px;


}

.mypost {
    grid-column: 2;
    grid-template-columns: 1fr;
    background: #fff;
}

.gridleft {
    grid-column: 1;
    grid-row: 1/3;
    margin-right: 10px;
}















