.containerProfile {
    grid-column: 2;
    grid-row: 1;
    background: #fff;
    border-radius: 5px;
    justify-self: right;
    padding-left: 5px;
    height: 270px;
}

.profileSmall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.editProfile {
    grid-column: 1/4;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.editProfile a {
    color: #65abd0;
}


.myPhoto {
    grid-column: 1/4;
    display: block;
    background: url("./../../img/Myphoto.png") no-repeat center top;
    width: 100px;
    height: 100px;
    justify-self: center;
}

.profileName {
    grid-column: 1/4;
    color: #383737;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.titles {
    font-size: 14px;
    color: #42c7b7;
}

.title {
    font-weight: 600;
    color: #383737;
    font-size: 24px;
}

.titlePhotos {
    grid-column: 1;
    margin-right: 12px;
    margin-left: 12px;
}

.titleFollowers {
    grid-column: 2;
    margin-right: 12px;
    margin-left: 12px;
}

.titleFollowing {
    grid-column: 3;
    margin-right: 12px;
    margin-left: 12px;
}



