.container__profile {
    grid-column: 2;
    grid-row: 1;
    background: #fff;
    border-radius: 5px;
    justify-self: right;
    padding-left: 5px;
    height: 270px;

}

.profilesmall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.edit__profile {
    grid-column: 1/4;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.edit__profile a {
    color: #65abd0;
}


.my__photo {
    grid-column: 1/4;
    display: block;
    background: url("./../../img/Myphoto.png") no-repeat center top;
    width: 100px;
    height: 100px;
    justify-self: center;



}

.profile__name {
    grid-column: 1/4;
    color: #383737;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}




.titles {
    font-size: 14px;
    color: #42c7b7;
}

.title {
    font-weight: 600;
    color: #383737;
    font-size: 24px;
}

.titlephotos {
    grid-column: 1;
    margin-right: 12px;
    margin-left: 12px;
}

.titlefollowers {
    grid-column: 2;
    margin-right: 12px;
    margin-left: 12px;

}

.titlefollowing {
    grid-column: 3;
    margin-right: 12px;
    margin-left: 12px;
}



