.post {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.textarea {
    grid-row: 1;
    resize: none;
    margin: 10px;
    border-radius: 5px;
    height: 100px;
    padding: 10px;
}

.button {
    grid-row: 2;
    width: 80px;
    margin-right: auto;
    background: #24aa98;
    color: #fff;
    height: 36px;
    cursor: pointer;
    border: 0px;
    border-radius: 7px;
    margin-left: 10px;
}



.test {
    display: grid;
    grid-template-columns: 1fr;

}

