.nav {
    grid-column: 2/3;
    grid-row: 1;
    background: #f2f5f8;
    border-radius: 5px;
    justify-self: right;
    height: 220px;
    margin-top: 10px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 7fr;
    color: black;
    margin-right: auto;
    padding: 20px;
    font-size: 16px;
}

.item {
    grid-column: 2;
    display: block;
    padding: 3px;
    text-align: left;

}

.img {
    grid-column: 1;
    justify-self: right;
    padding-top: 7px;
}

.items a {
    color: black;
    font-weight: 600;
    padding: 5px 100px 5px 10px;
}
.items a.active{
    color: #65abd0;
}

.items a:hover {
    background: #65abd0;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}
