.friends {
     grid-column: 2/3;
     grid-row: 1;
     background: #f2f5f8;
     border-radius: 5px;
     justify-self: right;
     margin-top: 535px;
     width: 78%;

 }

.friend  {
    display: grid;
    grid-template-columns: 1fr;
}

.online {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 22px;
    color: #fff;
    background: #24aa98;
    border-radius: 5px;
}